@{
    ViewData["title"] = "About";
}

<div class="center">
    <h1>About the Alchemist</h1>
</div>
<div>
    <p>The Alchemist is a VR game in which players are trapped within a castle and they must figure a way out.</p>
    <p>The player must decide if they shall kill mutants created by The Alchemist and take their body parts to power up</p>
    <p><h2>OR</h2></p>
    <p>Befriend the mutants and seek their help in finishing The Alchemist and stop him from creating more mutants</p>
</div>